.gridRoot {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 16px;
  background-color: #f3f3f3;
}

.paperRoot {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px !important;
}
